<% if section.linked_resource %>
<div class="py-8 px-0">
    <% taxon = Spree::Taxon.find_by_id(section.linked_resource.id)%>
    <div class="font-weight-bold homepage-carousel-text text-uppercase mb-5">
        <%= section.title.present? ? section.title : taxon.name %>
    </div>

    <div class="d-flex taxon_products_<%= section.linked_resource.id%>">
        <% if taxon.products.count > 0 %>
            
            <% taxon.products.limit(4).each do |product| %>
                <div id="product_<%= product.id %>" class="col-3 pt-3 pb-4 px-3 position-relative">
                    <%= render 'spree/shared/product', product: product, image_class: 'product-component-plp-image' %>
                </div>
            <% end %>
        <% else %>
            <p class="text-center">no products</p>
        <% end %>
    </div>
</div>
<% end %>
