
    <div class="py-3 border border-top-1 border-bottom-1 border-start-0 border-end-0 border-black ">
        <div class="container">
            <div class="row">
                <span class="section-title fw-bold text-uppercase px-0">
                    <%= section.title.present? ? section.title : 'no title' %>
                </span>
            </div>
        </div>
    </div>
