<% view_class = 'd-block d-lg-none' if section.view_mobile?%>
<% view_class = 'd-none d-lg-block' if section.view_desktop?%>
<div class="py-2 py-lg-3 border border-top-1 border-bottom-1 border-start-0 border-end-0 border-black <%= view_class %> ">
    <div class="container">
        <div class="row">
            <span class="section-title fw-bold text-uppercase px-2 px-lg-0">
                <%= section.title.present? ? section.title : 'no title' %>
            </span>
        </div>
    </div>
</div>
